<div class="post-preview">

    <h2 class="post-title">
        {{title}}
    </h2>
    <h3 class="post-subtitle">
        {{summary}}
    </h3>

    <p class="post-meta">
        {{content}}
    </p>
</div>